# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gitattributes
*.db
*.sqlite
*.make
*.db-wal
*.db-shm
*.ipch
*.opendb
.vs/Project4/v16/.suo
.vs/CS343_Project4/v16/.suo
CS343_Project4.sln
CS343_Project4.vcxproj.filters
CS343_Project4.vcxproj
CS343_Project4.vcxproj.user
icon.rc
icon.rc
obj/x64/Debug/vc142.pdb
obj/x64/Debug/CS343_Project4_debug.ilk
obj/x64/Debug/CS343_Project4_debug.exe.recipe
obj/x64/Debug/CS343_Project4.tlog/rc.write.1.tlog
obj/x64/Debug/CS343_Project4.tlog/rc.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/rc.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/link.write.1.tlog
obj/x64/Debug/CS343_Project4.tlog/link.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/link.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CS343_Project4.write.1u.tlog
obj/x64/Debug/CS343_Project4.tlog/CS343_Project4.lastbuildstate
obj/x64/Debug/CS343_Project4.tlog/CL.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CL.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CL.15208.write.1.tlog
obj/x64/Debug/CS343_Project4.log
icon.rc
bin/CS343_Project4_debug.pdb
bin/CS343_Project4_debug.exp
bin/CS343_Project4_debug.exp
bin/CS343_Project4_debug.pdb
icon.rc
obj/x64/Debug/CS343_Project4.log
obj/x64/Debug/CS343_Project4.tlog/CL.15208.write.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CL.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CL.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CL.write.1.tlog
obj/x64/Debug/CS343_Project4.tlog/CS343_Project4.lastbuildstate
obj/x64/Debug/CS343_Project4.tlog/CS343_Project4.write.1u.tlog
obj/x64/Debug/CS343_Project4.tlog/link.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/link.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/link.write.1.tlog
obj/x64/Debug/CS343_Project4.tlog/rc.command.1.tlog
obj/x64/Debug/CS343_Project4.tlog/rc.read.1.tlog
obj/x64/Debug/CS343_Project4.tlog/rc.write.1.tlog
obj/x64/Debug/CS343_Project4_debug.exe.recipe
obj/x64/Debug/CS343_Project4_debug.ilk
obj/x64/Debug/vc142.pdb
bin/Project4_debug.pdb
bin/Project4_debug.pdb
obj/x64/Debug/Project4.log
obj/x64/Debug/Project4.tlog/CL.read.1.tlog
obj/x64/Debug/Project4.tlog/CL.write.1.tlog
obj/x64/Debug/Project4.tlog/link.read.1.tlog
obj/x64/Debug/Project4.tlog/Project4.write.1u.tlog
obj/x64/Debug/Project4_debug.ilk
obj/x64/Debug/vc142.pdb
bin/Project4_debug.pdb
obj/x64/Debug/Project4.log
*.log
obj/x64/Debug/vc142.pdb
obj/x64/Debug/Project4_debug.ilk
obj/x64/Debug/Project4_debug.exe.recipe
obj/x64/Debug/Project4.tlog/rc.write.1.tlog
obj/x64/Debug/Project4.tlog/rc.read.1.tlog
obj/x64/Debug/Project4.tlog/rc.command.1.tlog
obj/x64/Debug/Project4.tlog/Project4.write.1u.tlog
obj/x64/Debug/Project4.tlog/Project4.lastbuildstate
obj/x64/Debug/Project4.tlog/link.write.1.tlog
obj/x64/Debug/Project4.tlog/link.read.1.tlog
obj/x64/Debug/Project4.tlog/link.command.1.tlog
obj/x64/Debug/Project4.tlog/CL.write.1.tlog
obj/x64/Debug/Project4.tlog/CL.read.1.tlog
obj/x64/Debug/Project4.tlog/CL.command.1.tlog
obj/x64/Debug/Project4.log
bin/Project4_debug.pdb
bin/Project4_debug.exp
*.pdb
obj/x64/Debug/vc142.pdb
obj/x64/Debug/Project4_debug.ilk
obj/x64/Debug/Project4_debug.exe.recipe
obj/x64/Debug/Project4.tlog/rc.write.1.tlog
obj/x64/Debug/Project4.tlog/rc.read.1.tlog
obj/x64/Debug/Project4.tlog/rc.command.1.tlog
obj/x64/Debug/Project4.tlog/Project4.write.1u.tlog
obj/x64/Debug/Project4.tlog/Project4.lastbuildstate
obj/x64/Debug/Project4.tlog/link.write.1.tlog
obj/x64/Debug/Project4.tlog/link.read.1.tlog
obj/x64/Debug/Project4.tlog/link.command.1.tlog
obj/x64/Debug/Project4.tlog/CL.write.1.tlog
obj/x64/Debug/Project4.tlog/CL.read.1.tlog
obj/x64/Debug/Project4.tlog/CL.command.1.tlog
obj/x64/Debug/Project4.log
bin/Project4_debug.pdb
bin/Project4_debug.exp
